body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   text-align:center;

   /* background: linear-gradient(
      45deg,
      #dad4d4 25%,
      #e6e6e6 25%,
      #e6e6e6 50%,
      #dad4d4 50%,
      #dad4d4 75%,
      #e6e6e6 75%
    ); */
    background-color: rgb(170, 191, 201);
}

header {
   background-image:url("https://qtxasset.com/quartz/qcloud4/media/image/Fierce%20Electronics%20Article%20Primary%20Image%20956px%20x%20537px.jpg?VersionId=6MCurYN1RdBwT7M4HOIaPvyn_K4Sijpu");
   color: white;
   padding: 20px;
   text-align: center;
   font-size:larger;
   background-size: cover;
}
nav {
   
   padding: 10px;
   text-align: center;
}
nav a {
   color:white;
   margin: 10px;
}
nav a:hover {
   color:aqua;
}
       .dropdown {
           position:absolute;
       
           left:0;
           
           float: left;
       }
       .fa-list {
           margin-left:5px;
       }
       .dropdown-content {
           display: none;
           position: absolute;
           
           min-width: 160px;
           
           z-index: 1;
           left:0;
       }
       .dropdown-content a {
           color: black;
           padding: 2px 5px;
           text-decoration: none;
           display: block;
           text-align: left;
       }
       .dropdown-content a:hover {
           background-color:white;
       }
       .dropdown:hover .dropdown-content {
           display: block;
       }
       #about {
           padding: 50px 0;
           background-color:white;
           text-align: center;
       }
       #about h2 {
           font-size: 36px;
           margin-bottom: 30px;
       }
       #about p {
           font-size: 18px;
           color:grey;
           margin-bottom: 20px;
           text-align:justify;
       }
       #services {
           background-color: white;
           padding: 50px 0;
           text-align: center;
       }  
       #services .container {
           display: flex;
          
           justify-content: center;
       }
       .service {
           flex: 1 1 300px;
           max-width: 200px;
           margin: 20px;
           padding: 30px;
           background-color: white;
           border-radius: 10px;
           
       }
       .service i {
           font-size: 40px;
           margin-bottom: 20px;
           color: red;
       }
       .service h3 {
           font-size: 24px;
           margin-bottom: 10px;
       }
       .service p {
           font-size: 16px;
           color:grey;
       }
       #contact {
           padding: 50px 0;
           background-color: white;
           text-align: center;
       }
       #contact h2 {
           font-size: 36px;
           margin-bottom: 30px;
       }
       #contact p {
           font-size: 18px;
           color: grey;
           margin-bottom: 20px;
       }
       #contact ul {
           list-style: none;
           padding: 0;
       }
       #contact ul li {
           font-size: 16px;
           margin-bottom: 10px;
       }
       #contact form {
           margin-top: 20px;
       }
       #contact form .form-control {
           margin-bottom: 20px;
       }
       #products {
           display:flex;
           flex-wrap:wrap;
           padding: 50px 0;
           
       }
       #products h2 {
           text-align: center;
           font-size: 36px;
           margin-bottom: 30px;
       }
       .product {
           background-color:white;
           padding: 20px;
           border-radius: 5px;
           text-align: center;
           margin-right:10px;
           padding: 28x;
       }
       .product img {
           width:200px;
           height:200px;
           border-radius: 5px;
           margin-bottom: 20px;
           /* padding: 10px; */
       }
       .product h3 {
           font-size: 24px;
           margin-bottom: 10px;
       }
       .product p {
           font-size: 16px;
           color:grey;
           margin-bottom: 20px;
           
       }
       .product .btn {
           background-color:green;
           color:white;
           padding: 10px 20px;
            
       }
       .product .btn:hover {
           background-color:red;
           border-radius: 15px;  
           
       }
section {
   padding: 20px;
   text-align: justify;
   justify-content: center;
}
footer {
   background-color: black;
   color: white;
   padding: 20px;
   text-align: center;
   align-items: center;
}
 
div{
   margin: 15px;
}

 